.id{
    width: 100px;
}

input:hover{
    cursor: pointer;
}

.MuiPaper-root{
    background-color: #71AD3D;

}

.MuiTab-textColorPrimary.Mui-selected {
    color: white !important;
}

.MuiTab-textColorPrimary {
    color: white !important;
}

#app-bar-root{
    background-color: #71AD3D;
    color: #fff;
}

.MuiAppBar-colorDefault {
    color: rgba(0, 0, 0, 0.87);
    background-color: #71AD3D;
}

.custom-input{
    display: inline-block;
}

.add-btn{
    font-size:22px;
    font-weight: 700;
    background-color: #71AD3D;
}
.add-btn:hover{
    font-size:22px;
    font-weight: 700;
    background-color: #4e792a;
}