.home-root{
    width: 40%;
}
.head-sec{
    height: 300px;
    width: 100%;
}

.model-test{
    border: 1px solid lightgray;
    padding: 24px;
    margin: 24px;
    font-size: 26px;
}

@media (max-Width: 600px){
    .home-root{
        width: 100%;
        /* background-color: red */
        min-height: 100vh;
    }
    .home-root p{
        font-size: 18px;
        margin: 0;
        font-weight:700;
    }
    .model-test{
        border: 1px solid lightgray;
        padding: 24px 24px;
        margin: 0;
        margin-top: 10px;
        font-size: 26px;
        box-shadow: 0 1px 3px gray;
        border-radius: 5px;
    }
}