body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://elasticbeanstalk-ap-southeast-1-051040323559.s3-ap-southeast-1.amazonaws.com/livemcq-files/public/img/livemcq-homebg-seamless-paper.png);
  repeat:repeat-x;
  repeat:repeat-y;
  padding-bottom:30px;
  font-size:16px;
  font-family: kohinur;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'kohinur';
  src: local('kohinur'), url(./fonts/kohinur.ttf) format('ttf');
}
